#title { margin: 1.25rem 0; }
h1, h2, h3, h4, h5, p, label { margin: 0; }

a:hover {text-decoration: none;}
.cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

main {
    margin-bottom: 70px;
}

.card {
    background: AliceBlue;
    padding: 1rem;
    width: calc(1140px/4.25);
    position: relative;
    display: flex;
    margin: 0 .5rem .5rem 0;
    align-items: stretch;
    overflow-wrap: break-word;
}

.wrapper {
    position: absolute;
    width: 100%;
    transform: translateY(0px);
    transition: .25s transform ease-in-out;
    z-index: -1;
    color: white;
    background-color: purple;
}

#addPerson {
    padding: 2rem;
}

.creating-person {
    transform: translateY(-425px);
    transition: .25s transform ease-in-out;
}

button{
    margin-top: 1rem;
}

i {
    margin-right: .5rem;
}

.edit-form {
    margin-bottom: .5rem;
}

#add {
    text-align: center;
    background: gold;
    z-index: 3;
}

#addButton { 
    margin: 1rem;
}

.btn-outline-white {
    border-color: purple;
    color: purple;
}

.btn-outline-white:focus, .btn-outline-white:hover {
    background-color: purple;
    color: white;
}

footer { 
    padding: 0;
    position: relative;
}

@media only screen and (max-width: 767px) {
    #title {
        text-align: center;
    }
    .cards {
        justify-content: center;
    }
    .card {
        margin: 0 auto 1rem;
    }
    .creating-person {
        transform: translateY(-425px);
    }
}

@media only screen and (max-width: 567px) and (orientation: landscape) {
    .creating-person {
        transform: translateY(-300px);
    }
    #addPerson {
        overflow: scroll; !important
        height: 300px;
        padding: .5rem;
    }
    #addPerson label, #addPerson input {
        padding: .125rem;
        font-size: .75rem;
    }
    #addPerson button {
        margin-top: .25rem
    }
}