a:hover {text-decoration: none;}
.cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.card {
    background: #fffaef;
    margin: 1rem;
    padding: 1rem;
    width: 300px;
    position: relative;
}

button, label {
    margin-top: 1rem;
}

.controls button {
    margin-right: .5rem;
}

.edit-form {
    margin: 1rem 0;
}