body { background: #FDFCFA; }
#title { margin: 1.25rem 0; }
h1, h2, h3, h4, h5, p, label { margin: 0; color: #B25645; }
p, a { color: #F2FFE3; }
a:hover {text-decoration: none; color: #B25645; }
button { margin-top: .5rem; }
i { margin-right: .5rem; }
main { margin-bottom: 70px; }

.cards {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card {
    background: #5E564F;
    width: calc(1140px/4.25);
    position: relative;
    display: flex;
    margin: 0 .5rem .5rem 0;
    align-items: stretch;
    overflow-wrap: break-word;
    border: none ;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card-content {
    padding: 1rem;
}

.name {
    background: #FCF6F0;
    padding: .5rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

}

.wrapper {
    position: absolute;
    width: 100%;
    transform: translateY(0px);
    transition: .25s transform ease-in-out;
    z-index: -1;
    color: white;
    background-color: #D2E5DE;
}

.creating-person {
    transform: translateY(-425px);
    transition: .25s transform ease-in-out;
}

.editing-card {
    margin: 1rem;
}

.editing-card label {
    color: #F2FFE3;
}

#add {
    text-align: center;
    background: #EB7F00;
    z-index: 3;
}

#addPerson {
    padding: 2rem;
}

#addButton { 
    margin: 1rem;
    border-color: #D2E5DE;
    color: #D2E5DE;
}

#addButton:focus, #addButton:hover {
    background-color: #D2E5DE;
    color: #3A403E;
}

.btn-edit {
    border-color: #D2E5DE;
    color: #D2E5DE;
    background: transparent;
    display: block;
}

.btn-edit:focus, .btn-edit:hover {
    background-color: #D2E5DE;
    color: #3A403E;
}

footer { 
    padding: 0;
    position: relative;
}

@media only screen and (max-width: 767px) {
    #title {
        text-align: center;
    }
    .cards {
        justify-content: center;
    }
    .card {
        margin: 0 auto 1rem;
    }
    .creating-person {
        transform: translateY(-425px);
    }
}

@media only screen and (max-width: 567px) and (orientation: landscape) {
    .creating-person {
        transform: translateY(-300px);
    }
    #addPerson {
        overflow: scroll; !important
        height: 300px;
        padding: .5rem;
    }
    #addPerson label, #addPerson input {
        padding: .125rem;
        font-size: .75rem;
    }
    #addPerson button {
        margin-top: .25rem
    }
}