<div ng-repeat="person in people | orderBy: 'Name'">
    <div ng-hide="editing" class="card">
        <span class="name"><h4><strong>{{person.name}}</strong></h4></span>
        <span class="card-content">
            <p>{{person.jobtitle}},</p>
            <p><strong>{{person.company}}</strong></p>
            <span class="email"><a href="mailto:{{person.email}}"><i aria-hidden="true" class="fa fa-envelope"></i>Email</a></span>
            <button ng-click="editing = !editing" ng-hide="editing" type="button" class="btn btn-edit btn-sm"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</button>
        </span>
    </div>
     <div ng-show="editing" class="card">
        <form ng-class="{'editing-card': editing}" novalidate>
            <fieldset>
                <label for="name">Editing Name: {{person.name}}</label>
                <input name="name" ng-model="person.name" type="text" class="form-control edit-form" >
                <label for="jobtitle">Editing Job Title: {{person.jobtitle}}</label>
                <input name="jobtitle" ng-model="person.jobtitle" type="text" class="form-control edit-form" >
                <label for="company">Editing Company: {{person.company}}</label>
                <input name="company" ng-model="person.company" type="text" class="form-control edit-form" >
                <label for="email">Editing Email: {{person.email}}</label>
                <input name="email" ng-model="person.email" type="email" class="form-control edit-form" > 
             </fieldset>
            <button ng-click="reset()" type="button" class="btn btn-outline-warning btn-sm"><i aria-hidden="true" class="fa fa-ban"></i>Cancel</button>
            <button ng-click="deletePerson(person, $index)" type="button" class="btn btn-outline-danger btn-sm"><i aria-hidden="true" class="fa fa-times"></i>Delete</button>
            <button ng-click="savePerson(person, $index)" type="submit" class="btn btn-success btn-sm"><i aria-hidden="true" class="fa fa-check"></i>Save</button>
         </form>
     </div>
</div>