<div id="add" class="col-sm-4">
    <button type="button" class="btn btn-default" ng-click="createPerson()"><i aria-hidden="true" class="fa fa-plus fa-lg"></i>&nbsp; Add an Awesome Person</button>
    <fieldset>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Name">
                <label for="jobtitle">Job Title</label>
                <input type="text" class="form-control" id="jobtitle" placeholder="Job Title">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" placeholder="Company">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
        </form>
    </fieldset>
</div>