<section class="container">
  <h2>Awesome People</h2>
  <div ng-controller="mainCtrl" class="row">
    <div class="cards col-sm-12">
       <div ng-repeat="s in staff | orderBy: 'Name'" class="card">
        <h4><strong>{{s.Name}}</strong></h4>
        <p>{{s.Department}}, {{s.Website}}</p>
        <span class="email"><a href="mailto:{{s.Email}}"><i aria-hidden="true" class="fa fa-envelope"></i>&nbsp; Email</a></span>
        <div class="controls">
          <button ng-click="editPerson()" type="button" class="btn btn-primary btn-sm"><i aria-hidden="true" class="fa fa-pencil"></i></button>
          <button ng-click="savePerson()" type="button" class="btn btn-success btn-sm"><i aria-hidden="true" class="fa fa-check"></i></button>
          <button ng-click="deletePerson()" type="button" class="btn btn-danger btn-sm"><i aria-hidden="true" class="fa fa-times"></i></button>
        </div>
      </div>
      
    </div>
    <a class="btn btn-default" href="/add"><i aria-hidden="true" class="fa fa-plus fa-lg"></i>&nbsp; Add an Awesome Person</a>
  </div>
</section>