<div ng-repeat="person in people | orderBy: 'Name'" class="card">
    <div ng-hide="editing">
        <label><h4><strong>{{person.name}}</strong></h4></label>
        <p>{{person.jobtitle}}, <strong>{{person.company}}</strong></p>
        <span class="email"><a href="mailto:{{person.email}}"><i aria-hidden="true" class="fa fa-envelope"></i>Email</a></span>
        <button ng-click="editing = !editing" ng-hide="editing" type="button" class="btn btn-outline-primary btn-sm"><i aria-hidden="true" class="fa fa-pencil"></i>Edit</button>
    </div>
     <div ng-show="editing">
         <form>
             <fieldset>
                <label>Editing Name: {{person.name}}</label>
                <input ng-model="person.name" type="text" class="form-control edit-form">
                <label>Editing Job Title: {{person.jobtitle}}</label>
                <input ng-model="person.jobtitle" type="text" class="form-control edit-form">
                <label>Editing Company: {{person.company}}</label>
                <input ng-model="person.company" type="text" class="form-control edit-form">
                <label>Editing Email: {{person.email}}</label>
                <input ng-model="person.email" type="text" class="form-control edit-form"> 
             </fieldset>
            <button ng-click="editing =false" type="button" class="btn btn-outline-warning btn-sm"><i aria-hidden="true" class="fa fa-ban"></i>Cancel</button>
            <button ng-click="deletePerson(person, $index)" type="button" class="btn btn-outline-danger btn-sm"><i aria-hidden="true" class="fa fa-times"></i>Delete</button>
            <button ng-click="savePerson(person, $index)" type="submit" class="btn btn-success btn-sm"><i aria-hidden="true" class="fa fa-check"></i>Save</button>
         </form>
     </div>
</div>