doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="./node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./css/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="./css/styles.css")
        script(src="./node_modules/jquery/dist/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
        script(src="./node_modules/bootstrap/dist/js/bootstrap.min.js")
        script(src="./node_modules/angular/angular.min.js")
        script(src="./node_modules/angular-ui-router/release/angular-ui-router.min.js")
        script(src="./js/app.bundle.js")
        title Awesome People
    body(ng-app="awesomeapp")
        ui-view